.header {
  background-color: orange;
  border-radius: 5px;
  border-style: ridge;
  height: 100px;
}

.logo {
  width: 50%; /* Scale this image 50% of its container divs width */
  height: 100%; /* Scale this image 100% of its container divs height */
  opacity: 1.0;
}

.footer {

}
